html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

#list-base {
	margin-bottom: 1.5%
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgSrc {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #3C7DEF;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 940px;
	}
}

th, td {
	text-align: center;
	vertical-align: middle;
}

tr {
	height:60px;
}

.col-1-w {
	width:20%;
}

.col-2-w {
	width:20%;
}

.col-3-w {
	width:7%;
	margin-left:3%
}

.col-4-w {
	width:7%;
}

.col-5-w {
	width:7%;
}

.col-6-w {
	width:7%;
}
